# Domain
# This would be set to the production domain with an env var on deployment
DOMAIN=localhost

# Environment: local, staging, production
ENVIRONMENT=production

PROJECT_NAME="Rzplan-vercel"

# Backend
# BACKEND_CORS_ORIGINS="http://tools.example.com"
# python -c "import secrets; print(secrets.token_urlsafe(32))"
SECRET_KEY=YJriNCT6x0wF9HOlHJqm9JKNTdcQLa7vsLWmg8jD7ZQ
FIRST_SUPERUSER=mail@example.com
FIRST_SUPERUSER_PASSWORD=admin123

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=no-reply@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis


# SENTRY_DSN=

# LOG_LEVEL=DEBUG
# LOG_FORMAT="[%(asctime)s] - %(levelname)s - %(message)s"